<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/head.ejs') %>
	<body>
		<%- include('../partials/header.ejs') %>
		<div class="blades content">
			<h2>List of all blades</h2>
			<% if (blades.length > 0) { %>
				<% blades.forEach(blade => { %> 
					<a class="blade <%= blade.element.toLowerCase() %>" href="/blades/<%= blade._id %>">
						<h3 class="name"><%= blade.name %></h3>
						<p class="driver">Driver: <%= blade.driver %></p>
						<p class="element">Element: <%= blade.element %></p>
					</a>
				<% }) %> 
			<% } else { %>
				<p>There are no blades to display ≧ ﹏ ≦</p>
			<% } %> 
		</div>
		<%- include('../partials/footer.ejs') %>
	</body>
</html>
